.main-content {
    display: flex;
    align-items: stretch; /* Ensure both sections stretch to the same height */
    width: 100%;
  }

  .projects {
    flex: 1;
    margin-top: 50px; /* Added vertical margin to create space above the projects section */
    margin-left: 0; /* Reset margin-left to zero or adjust as needed */
  }

  .content {
    flex: 3;
    padding-right: 40px;
    max-width: 600px; /* Adjust this value to make it narrower */
    margin-right: 80px; /* Added margin-right for horizontal spacing */
  }